/*css menu começo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    max-width: 1280px;
    margin: 0 auto;
}
header {
    padding: 40px 4%;
    background-color: rgba(105, 105, 253, 0.993);
}
header > .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar a {
    color: white;
    text-decoration: none;
    display: inline-block;
}
.navbar a:hover {
    transform: scale(1.15);
    text-decoration: underline;
    background-color: rgb(88, 137, 251);
}
.navbar ul {
    list-style-type: none;
}
.navbar ul li {
    display: inline-block;
    padding: 0 110px;
    font-size: 16px;
}
/*css menu fim*/

/*css main começo*/
.introdução {
    padding: 40px 4%;
}
.introdução h1 {
    color: black;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    text-decoration: underline;
}
.introdução h2{
    color: black;
    font-size: 30px;
    line-height: 60px;
    margin: 50px 0;
}
.introdução p {
    color: black;
    font-size: 20px;
    line-height: 25px;
}
.imagem {
    text-align: center;
}
.imag {
    text-align: center;
}
/*css main fim*/

